openapi: 3.2.0
info:
  title: Cacheflow Invoices API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Invoices
paths:
  /api/latest/data/customers/{id}/invoices:
    get:
      tags:
      - Invoices
      summary: List invoices for a customer
      operationId: getCustomerInvoices
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceSummary'
  /api/latest/data/invoices/archive:
    post:
      tags:
      - Invoices
      summary: Archive invoices
      operationId: archiveInvoices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleIdRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceDetail'
  /api/latest/data/invoices/{id}:
    get:
      tags:
      - Invoices
      summary: Retrieve an invoice
      operationId: getInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
    patch:
      tags:
      - Invoices
      summary: Update an invoice
      operationId: updateInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoiceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
  /api/latest/data/invoices/{id}/activity:
    get:
      tags:
      - Invoices
      summary: Retrieve invoice activity
      operationId: getInvoiceActivity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityEvent'
  /api/latest/data/invoices:
    get:
      tags:
      - Invoices
      summary: List invoices
      operationId: listInvoices
      parameters:
      - name: search
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: include_archived
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceWithSyncSummaryRest'
  /api/latest/data/invoices/{id}/renumber:
    post:
      tags:
      - Invoices
      summary: Renumber an invoice
      operationId: renumberInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
  /api/latest/data/invoices/{id}/notification:
    post:
      tags:
      - Invoices
      summary: Resend invoice email
      operationId: resendInvoiceEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationRequest'
      responses:
        '200':
          description: Invoice email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
  /api/latest/data/invoices/{id}/payments:
    post:
      tags:
      - Invoices
      summary: Receive Payment for an Invoice
      operationId: updatePayment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUpdateRequest'
      responses:
        '200':
          description: Payment recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetail'
  /api/latest/system/invoice/pastdue/{orgId}:
    get:
      tags:
      - Invoices
      summary: Fetch past_due invoices for an organization
      operationId: getInvoicesPastDue
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
  /api/latest/data/billing-schedules/{id}/invoice:
    post:
      tags:
      - Invoices
      summary: Creates and sync an invoice for a billing schedule
      operationId: generateInvoice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSchedule'
  /api/latest/data/billing-schedules/{id}/sync-invoice:
    post:
      tags:
      - Invoices
      summary: Sync an invoice from cacheflow to ERP
      operationId: syncBillingSchedule
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSchedule'
components:
  schemas:
    InvoiceWithSyncSummaryRest:
      required:
      - id
      - invoiceNumber
      - scheduleId
      - subscriptionId
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriptionId:
          type: string
          format: uuid
        scheduleId:
          type: string
          format: uuid
        currency:
          type: string
        customerName:
          type: string
        invoiceNumber:
          type: string
        amount:
          type: integer
          format: int64
        balance:
          type: integer
          format: int64
        sentAt:
          type: string
          format: date-time
        issueDate:
          type: string
          format: date
        invoiceDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        displayStatus:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        archived:
          type: boolean
        lastSyncEvent:
          $ref: '#/components/schemas/SyncEvent'
        externalSource:
          $ref: '#/components/schemas/ExternalSource'
        externalId:
          type: string
          deprecated: true
        sourceType:
          type: string
          deprecated: true
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        externalLink:
          type: string
          deprecated: true
        sourceDisplayId:
          type: string
          deprecated: true
        balanceFormatted:
          type: string
        amountFormatted:
          type: string
    InvoiceDetail:
      required:
      - header
      - schedule
      - subscription
      type: object
      properties:
        header:
          $ref: '#/components/schemas/Invoice'
        subscription:
          $ref: '#/components/schemas/Contract'
        schedule:
          $ref: '#/components/schemas/BillingSchedule'
        additionalData:
          type: string
    Money:
      type: object
      properties:
        amount:
          type: integer
          format: int64
        scale:
          type: integer
          format: int32
        formattedAmount:
          type: string
        currency:
          type: string
      description: Total list amount for this level. null for usage.
    Address:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        type:
          type: string
        streetAddress:
          type: string
        subAddress:
          type: string
        otherAddress:
          type: string
        city:
          type: string
        region:
          type: string
        regionIso:
          type: string
        postalCode:
          type: string
        country:
          type: string
        countryIso:
          type: string
        verifiedAt:
          type: string
          format: date-time
    ItemOverride:
      required:
      - discount
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        discount:
          type: boolean
        duration:
          type: integer
          format: int32
        startIndex:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemLevelOverride'
    ContractEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        user:
          $ref: '#/components/schemas/User'
        contact:
          $ref: '#/components/schemas/_ContactInternal'
        eventType:
          type: string
          enum:
          - created
          - billing_added
          - billing_updated
          - created_change
          - created_renewal
          - accepted_change
          - accepted_renewal
          - renewal_applied
          - renewal_due
          - cancelled
          - archived
          - restored
          - updated
          - ended
        otherId:
          type: string
          format: uuid
        otherType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        correlationRef:
          type: string
        instanceRef:
          type: string
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        fileName:
          type: string
        latestVersion:
          $ref: '#/components/schemas/DocumentVersion'
    ActivityActor:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        system:
          type: boolean
        identifier:
          type: string
    BillingSchedule:
      required:
      - amountDue
      - amountWithoutTax
      - billingItems
      - contract
      - createdAt
      - currency
      - dueDate
      - externalInvoiced
      - id
      - issueDate
      - scheduleDate
      - updatedAt
      - usageEntryActive
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        scheduleDate:
          type: string
          format: date
        currency:
          type: string
        amountDue:
          type: integer
          format: int64
        amountWithoutTax:
          type: integer
          format: int64
        taxAmount:
          type: integer
          format: int64
        dueDate:
          type: string
          format: date
        issueDate:
          type: string
          format: date
        invoiceDate:
          type: string
          format: date
        invoiceStatus:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        statementSentAt:
          type: string
          format: date-time
        billingItems:
          type: array
          items:
            $ref: '#/components/schemas/BillingItem'
        invoiceId:
          type: string
          format: uuid
        transferStatus:
          type: string
          enum:
          - pending
          - in_progress
          - failed
          - posted
          - cancelled
          - declined
          - reversed
          - receiver_pending
          - receiver_posted
        transfer:
          $ref: '#/components/schemas/Transfer'
        contract:
          $ref: '#/components/schemas/ObjectReference'
        usageEntryStartTime:
          type: string
          format: date-time
        usageEntryEndTime:
          type: string
          format: date-time
        usageEntryActive:
          type: boolean
        externalInvoiced:
          type: boolean
        lastSyncEvent:
          $ref: '#/components/schemas/SyncEvent'
        source:
          type: string
          deprecated: true
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        externalId:
          type: string
          deprecated: true
        amountDueFormatted:
          type: string
        amountWithoutTaxFormatted:
          type: string
        taxAmountFormatted:
          type: string
        externalLink:
          type: string
          deprecated: true
        sourceDisplayId:
          type: string
          deprecated: true
    LineItemLevel:
      type: object
      properties:
        quantity:
          type: number
        visible:
          type: boolean
        start:
          type: integer
          format: int32
        unitPricing:
          $ref: '#/components/schemas/Money'
        baseUnitPricing:
          $ref: '#/components/schemas/Money'
    Contact:
      required:
      - createdAt
      - customerReference
      - deleted
      - email
      - id
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
        deleted:
          type: boolean
        customerReference:
          $ref: '#/components/schemas/ObjectReference'
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
    ProductUsage:
      required:
      - currency
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        billingItemId:
          type: string
          format: uuid
        quantity:
          type: number
        amount:
          type: integer
          format: int64
        currency:
          type: string
        amountFormatted:
          type: string
    RenewalConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        termLengthMonths:
          type: integer
          format: int32
        cancellationDeadlineDays:
          type: integer
          format: int32
        renewalClause:
          type: string
        priceIncrease:
          minimum: 0
          type: number
        renewalClauseDescription:
          type: string
    _ContactInternal:
      required:
      - email
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
        deleted:
          type: boolean
        customerReference:
          $ref: '#/components/schemas/ObjectReference'
        gdprDeleted:
          type: boolean
    PricebookEntry:
      required:
      - price
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        level:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
    Product:
      required:
      - billing
      - consumption
      - createdAt
      - customizable
      - discountable
      - displayQuantityOnInvoicePdf
      - entries
      - extendedScale
      - hidden
      - id
      - listPriceAdjustable
      - pricing
      - productType
      - recurrence
      - status
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        hidden:
          type: boolean
        rootId:
          type: string
          format: uuid
        productType:
          type: string
          enum:
          - single
          - bundleTopDown
          - bundleBottomUp
        status:
          type: string
          enum:
          - active
          - inactive
        name:
          type: string
        internalName:
          type: string
        description:
          type: string
        recurrence:
          type: string
          enum:
          - one_time
          - recurring
          - usage
        pricing:
          type: string
          enum:
          - fixed
          - graduated
          - stairstep
          - volume
        consumption:
          type: string
          enum:
          - single
          - multiple
        billing:
          type: string
          enum:
          - scheduled
          - fixed
        unit:
          $ref: '#/components/schemas/Unit'
        extendedScale:
          type: boolean
        customizable:
          type: boolean
        discountable:
          type: boolean
        displayQuantityOnInvoicePdf:
          type: boolean
        listPriceAdjustable:
          type: boolean
        descriptionCustomizable:
          type: boolean
        nameCustomizable:
          type: boolean
        billingPeriods:
          type: array
          items:
            type: string
            enum:
            - month
            - quarter
            - halfyear
            - year
        currencies:
          type: array
          items:
            type: string
        taxConfig:
          $ref: '#/components/schemas/ProductTaxConfig'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/PricebookEntry'
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ProductLevel'
        showProductsOnInvoice:
          type: boolean
        showProductPricesOnInvoice:
          type: boolean
        showProductsOnProposal:
          type: boolean
        bundleItems:
          type: array
          items:
            $ref: '#/components/schemas/BundleItem'
        bundleBottomUpEntries:
          type: array
          items:
            $ref: '#/components/schemas/BundlePriceEntry'
        bundleGroups:
          type: array
          items:
            type: string
    ObjectReference:
      type: object
      properties:
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        id:
          type: string
          format: uuid
        uri:
          type: string
        name:
          type: string
        type:
          type: string
          writeOnly: true
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
    InvoiceConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        invoiceInAdvance:
          type: boolean
        invoiceInAdvanceDays:
          type: integer
          format: int32
        invoiceInAdvanceDate:
          type: string
          enum:
          - advance_date
          - billing_period_start_date
    BillingItem:
      required:
      - amountDue
      - amountDueFormatted
      - amountWithoutTax
      - amountWithoutTaxFormatted
      - createdAt
      - currency
      - id
      - itemId
      - product
      - serviceEndDate
      - serviceStartDate
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        serviceStartDate:
          type: string
          format: date
        serviceEndDate:
          type: string
          format: date
        currency:
          type: string
        amountDue:
          type: integer
          format: int64
        amountDueFormatted:
          type: string
        amountWithoutTax:
          type: integer
          format: int64
        amountWithoutTaxFormatted:
          type: string
        taxAmount:
          type: integer
          format: int64
        taxAmountFormatted:
          type: string
        product:
          $ref: '#/components/schemas/ObjectReference'
        itemId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        descriptionText:
          type: string
        bundle:
          $ref: '#/components/schemas/ObjectReference'
        bundleName:
          type: string
        bundleDescription:
          type: string
        bundleDescriptionText:
          type: string
        bundleQuantity:
          type: number
        quantity:
          type: number
        proration:
          type: integer
          format: int32
        latestProductUsage:
          $ref: '#/components/schemas/ProductUsage'
        displayQuantityOnInvoicePdf:
          type: boolean
    MultipleIdRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            format: uuid
    Customer:
      required:
      - createdAt
      - deleted
      - id
      - name
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        name:
          type: string
        tin:
          type: string
        defaultCurrency:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingContact:
          $ref: '#/components/schemas/Contact'
        deleted:
          type: boolean
        taxUseCode:
          type: string
          enum:
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
          - I
          - J
          - K
          - L
          - M
          - N
          - P
          - Q
          - R
        partner:
          type: boolean
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        taxExempt:
          type: boolean
        syncable:
          type: boolean
    BundleItem:
      required:
      - entries
      - id
      - name
      - product
      type: object
      properties:
        id:
          type: string
          format: uuid
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: number
        bundlePercent:
          type: integer
          format: int32
        entries:
          type: array
          items:
            $ref: '#/components/schemas/BundlePriceEntry'
        name:
          type: string
        description:
          type: string
    ItemSchedule:
      required:
      - productId
      - startDate
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        id:
          type: string
          format: uuid
        productId:
          type: string
          description: Product id for a specific version of the product. Must have the same root as the parent Item.
          format: uuid
        billingPeriod:
          type: string
          description: Billing period context.
          enum:
          - month
          - quarter
          - halfyear
          - year
        startIndex:
          type: integer
          description: Regular payment start index.
          format: int32
        endIndex:
          type: integer
          description: Inclusive regular payment end index.
          format: int32
        startDate:
          type: string
          description: Absolute start date. Absolute date when scheduled is true, otherwise calculated.
          format: date
        endDate:
          type: string
          description: Inclusive absolute end date. Absolute date when scheduled is true, otherwise null.
          format: date
        scheduled:
          type: boolean
          description: Indicates schedule has explicitly scheduled dates.
        price:
          $ref: '#/components/schemas/Money'
        basePrice:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        baseAmount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
        quantity:
          type: number
        discount:
          type: boolean
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemScheduleLevel'
    ExternalSource:
      required:
      - sourceId
      - sourceType
      type: object
      properties:
        sourceType:
          type: string
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        sourceId:
          type: string
        sourceLink:
          type: string
    CompanyInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        internalName:
          type: string
        brandingEnabled:
          type: boolean
        externalId:
          type: string
        source:
          type: string
        logoUrl:
          type: string
        tin:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        branding:
          type: object
          additionalProperties:
            type: object
        logo:
          $ref: '#/components/schemas/Document'
        defaultInfo:
          type: boolean
        deleted:
          type: boolean
        logoId:
          type: string
          format: uuid
    NotificationRequest:
      type: object
      properties:
        notificationType:
          type: string
          enum:
          - email
        notificationId:
          type: string
          format: uuid
    OrgId:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
    ProductTaxConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        taxMode:
          type: string
          enum:
          - inclusive
          - exclusive
        taxCode:
          $ref: '#/components/schemas/TaxCode'
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        username:
          type: string
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
        source:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        lastActiveAt:
          type: string
          format: date-time
        manager:
          $ref: '#/components/schemas/User'
    UpdateInvoiceRequest:
      type: object
      properties:
        status:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        purchaseOrderNumber:
          type: string
        archived:
          type: boolean
    Transfer:
      required:
      - amount
      - currency
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        processedAt:
          type: string
          format: date-time
        externalId:
          type: string
        currency:
          type: string
        amount:
          type: integer
          format: int64
        paidAmount:
          type: integer
          format: int64
        fromAccount:
          $ref: '#/components/schemas/Account'
        referenceTransferId:
          type: string
          format: uuid
        fromAccountId:
          type: string
          format: uuid
          writeOnly: true
        toAccount:
          $ref: '#/components/schemas/Account'
        toAccountId:
          type: string
          format: uuid
          writeOnly: true
        reason:
          type: string
        parentReferenceId:
          type: string
          format: uuid
        parentReferenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        status:
          type: string
          enum:
          - pending
          - in_progress
          - failed
          - posted
          - cancelled
          - declined
          - reversed
          - receiver_pending
          - receiver_posted
        type:
          type: string
          enum:
          - DEBIT
          - CREDIT
        processor:
          type: string
          enum:
          - plaid
          - stripe
          - manual
        paymentType:
          type: string
          deprecated: true
          enum:
          - ach
          - cc
          - check
          - custom
          - direct_debit
          - wire
          - external
          - manual
        category:
          type: string
          enum:
          - FEE
          - PAYMENT
          - PAYOUT
          - REFUND
          - ADJUSTMENT
        reasonCode:
          type: string
          enum:
          - invalid_account
          - insufficient_funds
          - flagged_account
          - region_not_supported
          - invalid_address
          - requires_buyer_approval
          - transaction_failure
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        achType:
          type: string
          enum:
          - arc
          - cbr
          - ccd
          - cie
          - cor
          - ctx
          - iat
          - mte
          - pbr
          - pop
          - pos
          - ppd
          - rck
          - tel
          - web
        failures:
          type: integer
          format: int32
        retryAt:
          type: string
          format: date-time
        referenceNumber:
          type: string
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        paidAmountFormatted:
          type: string
        amountFormatted:
          type: string
        deleted:
          type: boolean
    Item:
      required:
      - createdAt
      - customized
      - customizedLevels
      - groups
      - id
      - key
      - product
      - schedules
      - spans
      - updatedAt
      - updatedBy
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        id:
          type: string
          format: uuid
        key:
          type: string
          format: uuid
        quantity:
          type: number
        product:
          $ref: '#/components/schemas/Product'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        name:
          type: string
        description:
          type: string
        descriptionText:
          type: string
        customized:
          type: boolean
        customizedLevels:
          type: boolean
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemLevel'
        overrides:
          type: array
          items:
            $ref: '#/components/schemas/ItemOverride'
        quantityOverrides:
          type: array
          items:
            $ref: '#/components/schemas/QuantityOverride'
        spans:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/LineItemSpan'
        schedules:
          type: array
          items:
            $ref: '#/components/schemas/ItemSchedule'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/SpanGroup'
        levelVisibility:
          type: string
          enum:
          - all
          - active
          - active_plus_one
          - active_plus_three
          - active_plus_prior_next
          - active_plus_prior_next_three
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        internalName:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        configured:
          type: boolean
        managed:
          type: boolean
        billingPeriods:
          type: array
          items:
            type: string
            enum:
            - month
            - quarter
            - halfyear
            - year
        account:
          $ref: '#/components/schemas/Account'
        accountId:
          type: string
          format: uuid
        paymentType:
          type: string
          enum:
          - ach
          - cc
          - check
          - custom
          - direct_debit
          - wire
          - external
          - manual
        customText:
          type: string
        configuration:
          type: object
          additionalProperties:
            type: object
        processor:
          type: string
          enum:
          - plaid
          - stripe
          - manual
        activePaymentMethod:
          type: boolean
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        deleted:
          type: boolean
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        address:
          $ref: '#/components/schemas/Address'
        institutionName:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - depository
          - credit
          - manual
          - external
        subtype:
          type: string
        mask:
          type: string
        legalName:
          type: string
        currency:
          type: string
        ownerType:
          type: string
        routingNumber:
          type: string
        accountNumber:
          type: string
        wireNumber:
          type: string
        expMonth:
          type: integer
          format: int32
        expYear:
          type: integer
          format: int32
        cvv:
          type: integer
          format: int32
        bic:
          type: string
        iban:
          type: string
        sortCode:
          type: string
        institutionNumber:
          type: string
        transitNumber:
          type: string
        verificationLink:
          type: string
        mandateId:
          type: string
    Invoice:
      required:
      - amount
      - amountWithoutTax
      - archived
      - balance
      - currency
      - customer
      - id
      - status
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        invoiceNumber:
          type: string
        purchaseOrderNumber:
          type: string
        sentAt:
          type: string
          format: date-time
        customer:
          $ref: '#/components/schemas/Customer'
        currency:
          type: string
        amount:
          type: integer
          format: int64
        amountWithoutTax:
          type: integer
          format: int64
        taxAmount:
          type: integer
          format: int64
        balance:
          type: integer
          format: int64
        archived:
          type: boolean
        amountWithoutTaxFormatted:
          type: string
        taxAmountFormatted:
          type: string
        balanceFormatted:
          type: string
        amountFormatted:
          type: string
    BillingMethod:
      required:
      - createdAt
      - customer
      - id
      - paymentMethod
      - status
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        createdBy:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - external
        customer:
          $ref: '#/components/schemas/Customer'
        account:
          $ref: '#/components/schemas/Account'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        stripeCustomerId:
          type: string
        stripePaymentMethodId:
          type: string
    TaxCode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        code:
          type: string
        description:
          type: string
    Duration:
      required:
      - days
      - months
      type: object
      properties:
        months:
          type: integer
          format: int32
        days:
          type: integer
          format: int32
    DocumentVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        versionNumber:
          type: integer
          format: int32
        fileName:
          type: string
        url:
          type: string
        documentId:
          type: string
          format: uuid
    ItemScheduleLevel:
      required:
      - basePrice
      - level
      - listPrice
      - price
      - start
      type: object
      properties:
        level:
          type: integer
          description: Level index, 0-based
          format: int32
        start:
          type: integer
          description: Level start value
          format: int32
        quantity:
          type: number
          description: Portion of ItemSchedule quantity assigned to this level. null for usage
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        basePrice:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        baseAmount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
    ItemLevelOverride:
      required:
      - level
      - price
      type: object
      properties:
        level:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
    Contract:
      required:
      - baseAmount
      - baseAmountFormatted
      - billingPeriod
      - billingSchedules
      - buyer
      - createdAt
      - currency
      - endDate
      - id
      - items
      - name
      - proratingType
      - startDate
      - status
      - termLengthMonths
      - totalAmount
      - totalAmountFormatted
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        paymentTerm:
          type: string
          enum:
          - net_15
          - net_30
          - net_45
          - net_60
          - net_75
          - net_90
          - upon_receipt
          - end_of_month
          - on_15th
        contractNumber:
          type: string
        buyer:
          $ref: '#/components/schemas/Customer'
        billTo:
          $ref: '#/components/schemas/Customer'
        shipFrom:
          $ref: '#/components/schemas/CompanyInfo'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        name:
          type: string
        freeMonths:
          type: integer
          format: int32
        purchaseOrderNumber:
          type: string
        totalAmount:
          type: integer
          format: int64
        baseAmount:
          type: integer
          format: int64
        proposalNumber:
          type: string
        status:
          type: string
          enum:
          - active
          - paused
          - cancelled
          - ended
        customTerms:
          type: string
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        billingMethod:
          $ref: '#/components/schemas/BillingMethod'
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        billingSchedules:
          type: array
          items:
            $ref: '#/components/schemas/BillingSchedule'
        lastEvent:
          $ref: '#/components/schemas/ContractEvent'
        nextPaymentDue:
          $ref: '#/components/schemas/BillingSchedule'
        currency:
          type: string
        renewalNotificationSentAt:
          type: string
          format: date-time
        renewalNotificationSentForEndDate:
          type: string
          format: date
        renewalConfiguration:
          $ref: '#/components/schemas/RenewalConfiguration'
        invoiceConfiguration:
          $ref: '#/components/schemas/InvoiceConfiguration'
        termLengthMonths:
          type: integer
          format: int32
        previewCode:
          type: string
        primaryContact:
          $ref: '#/components/schemas/Contact'
        totalDiscountPercent:
          type: integer
          format: int32
        totalAmountFormatted:
          type: string
        baseAmountFormatted:
          type: string
        totalDiscount:
          $ref: '#/components/schemas/Money'
        archived:
          type: boolean
        proratingType:
          type: string
          enum:
          - daily
          - monthly
    ActivityEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        actor:
          $ref: '#/components/schemas/ActivityActor'
        eventType:
          type: string
          enum:
          - transfer
          - integration
          - notification
          - record_changed
          - created
        eventCode:
          type: string
        details:
          $ref: '#/components/schemas/ActivityDetails'
        createdAt:
          type: string
          format: date-time
    QuantityOverride:
      required:
      - billingPeriod
      - quantity
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        quantity:
          type: number
        startIndex:
          type: integer
          format: int32
        duration:
          type: integer
          format: int32
    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        plural:
          type: string
    SyncEvent:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        referenceId:
          type: string
          format: uuid
        direction:
          type: string
          enum:
          - to_cacheflow
          - from_cacheflow
        eventType:
          type: string
          enum:
          - auth
          - created
          - updated
          - deleted
        action:
          type: string
          enum:
          - create
          - update
          - delete
          - upsert
          - noop
        externalSource:
          $ref: '#/components/schemas/ExternalSource'
        status:
          type: string
          enum:
          - success
          - error
        error:
          type: string
        source:
          type: string
          deprecated: true
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        externalId:
          type: string
          deprecated: true
        externalIdLink:
          type: string
          deprecated: true
    InvoiceSummary:
      required:
      - id
      - invoiceNumber
      - scheduleId
      - subscriptionId
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscriptionId:
          type: string
          format: uuid
        scheduleId:
          type: string
          format: uuid
        currency:
          type: string
        customerName:
          type: string
        invoiceNumber:
          type: string
        amount:
          type: integer
          format: int64
        balance:
          type: integer
          format: int64
        sentAt:
          type: string
          format: date-time
        issueDate:
          type: string
          format: date
        invoiceDate:
          type: string
          format: date
        dueDate:
          type: string
          format: date
        status:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        displayStatus:
          type: string
          enum:
          - draft
          - open
          - paid
          - past_due
          - voided
        archived:
          type: boolean
        balanceFormatted:
          type: string
        amountFormatted:
          type: string
    ActivityDetails:
      title: ActivityDetails
      type: object
      properties:
        message:
          type: string
        type:
          type: string
          enum:
          - base
          - transaction
          - notification
          - integration
          - field_changes
      discriminator:
        propertyName: type
        mapping:
          transaction: '#/components/schemas/TransactionActivityDetails'
          integration: '#/components/schemas/SyncActivityDetails'
          field_changes: '#/components/schemas/FieldChangeActivityDetails'
          notification: '#/components/schemas/NotificationActivityDetails'
    SpanGroup:
      required:
      - days
      - durationDesc
      - endDate
      - id
      - listTotal
      - proposalId
      - spanType
      - startDate
      - total
      type: object
      properties:
        id:
          type: integer
          format: int32
        spanType:
          type: string
          enum:
          - regular
          - free
          - removed
        proposalId:
          type: string
          format: uuid
        itemScheduleId:
          type: string
          format: uuid
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        quantity:
          type: number
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        days:
          type: integer
          format: int32
        durationDesc:
          $ref: '#/components/schemas/Duration'
        total:
          $ref: '#/components/schemas/Money'
        listTotal:
          $ref: '#/components/schemas/Money'
        unitPricing:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
    ItemLevel:
      required:
      - index
      - start
      - visible
      type: object
      properties:
        index:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
        hidden:
          type: boolean
        visibilityOverride:
          type: boolean
        visible:
          type: object
          additionalProperties:
            type: boolean
    LineItemSpan:
      required:
      - amount
      - baseAmount
      - listAmount
      - proposalId
      - proratedTotalAmount
      - proratedTotalListAmount
      - spanType
      type: object
      properties:
        spanType:
          type: string
          enum:
          - regular
          - free
          - removed
        proposalId:
          type: string
          format: uuid
        itemScheduleId:
          type: string
          format: uuid
        startIndex:
          type: integer
          format: int32
          deprecated: true
        duration:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        quantity:
          type: number
        levels:
          type: array
          items:
            $ref: '#/components/schemas/LineItemLevel'
        durationDesc:
          $ref: '#/components/schemas/Duration'
        baseAmount:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
        discount:
          $ref: '#/components/schemas/Money'
        discountPercent:
          type: integer
          format: int32
        prorating:
          type: number
        fullDays:
          type: integer
          format: int32
        proratedDays:
          type: integer
          format: int32
        proratedAmount:
          $ref: '#/components/schemas/Money'
        proratedBaseAmount:
          $ref: '#/components/schemas/Money'
        proratedListAmount:
          $ref: '#/components/schemas/Money'
        proratedTotalListAmount:
          $ref: '#/components/schemas/Money'
        proratedTotalAmount:
          $ref: '#/components/schemas/Money'
        unitPricing:
          $ref: '#/components/schemas/Money'
        baseUnitPricing:
          $ref: '#/components/schemas/Money'
        unitPricingDiscount:
          $ref: '#/components/schemas/Money'
        groupId:
          type: integer
          format: int32
    BundlePriceEntry:
      required:
      - price
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        price:
          $ref: '#/components/schemas/Money'
    ProductLevel:
      required:
      - start
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        start:
          type: integer
          format: int32
    Notification:
      required:
      - from
      - id
      - orgId
      - orgName
      - processedAt
      - recipients
      - success
      - type
      type: object
      properties:
        id:
          type: string
          format: uuid
        orgId:
          $ref: '#/components/schemas/OrgId'
        orgName:
          type: string
        emailKey:
          type: string
          enum:
          - otp_created
          - approval
          - auto_renewal_reminder_buyer
          - billing_invite
          - billing_method_updated_buyer
          - billing_method_updated_seller
          - change_accepted_buyer
          - change_accepted_seller
          - contract_confirmation_buyer
          - contract_confirmation_seller
          - invite_created
          - negative_charge
          - payment_error_buyer
          - payment_error_seller
          - payment_receipt_buyer
          - renewal_accepted_buyer
          - renewal_accepted_seller
          - renewal_upcoming_buyer
          - renewal_upcoming_seller
          - subscription_renewed_buyer
          - subscription_renewed_seller
          - invoice_pdf
          - invoice_buyer
          - billing_method_verification_buyer
          - items_date_truncated_seller
          - items_date_cleared_seller
        type:
          type: string
          enum:
          - email
        recipients:
          type: array
          items:
            type: string
        emailAlias:
          type: string
        from:
          type: string
        subject:
          type: string
        success:
          type: boolean
        processedAt:
          type: string
          format: date-time
        errorMessage:
          type: string
    PaymentUpdateRequest:
      required:
      - amount
      - paymentDate
      type: object
      properties:
        paymentDate:
          type: string
          format: date-time
        amount:
          type: integer
          format: int64
        externalId:
          type: string
        reason:
          type: string
