openapi: 3.2.0
info:
  title: Cacheflow Tokens API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Tokens
paths:
  /api/latest/settings/api/tokens:
    get:
      tags:
      - Tokens
      summary: List API tokens
      operationId: getAllTokens
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiToken'
    post:
      tags:
      - Tokens
      summary: Create an API token
      operationId: addToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiToken'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiToken'
  /api/latest/settings/api/tokens/{id}:
    delete:
      tags:
      - Tokens
      summary: Delete an token
      operationId: removeToken
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json: {}
components:
  schemas:
    ApiToken:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        token:
          type: string
        name:
          type: string
        prefix:
          type: string
          writeOnly: true
