openapi: 3.2.0
info:
  title: Cacheflow HubSpot Webhooks API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: HubSpot Webhooks
paths:
  /api/latest/data/hubspot/webhook-event:
    post:
      tags:
      - HubSpot Webhooks
      summary: Create HubSpot update event
      operationId: handleHubspotWebhookEvents
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/HubspotWebhookRequest'
      responses:
        '200':
          description: Handle webhook events sent directly from HubSpot
components:
  schemas:
    HubspotWebhookRequest:
      type: object
      properties:
        eventId:
          type: integer
          format: int64
        subscriptionId:
          type: integer
          format: int64
        portalId:
          type: integer
          format: int64
        appId:
          type: integer
          format: int64
        occurredAt:
          type: integer
          format: int64
        subscriptionType:
          type: string
        attemptNumber:
          type: integer
          format: int64
        objectId:
          type: integer
          format: int64
        changeFlag:
          type: string
        changeSource:
          type: string
        sourceId:
          type: string
