openapi: 3.2.0
info:
  title: Cacheflow Attachments API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Attachments
paths:
  /api/latest/attachment-configs:
    get:
      tags:
      - Attachments
      summary: List attachments
      operationId: getAllAttachmentConfigs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachmentConfig'
    post:
      tags:
      - Attachments
      summary: Create an attachment
      operationId: createAttachmentConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentConfig'
  /api/latest/attachment-configs/{id}:
    get:
      tags:
      - Attachments
      summary: Retrieve an attachment
      operationId: getAttachmentConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentConfig'
    delete:
      tags:
      - Attachments
      summary: Delete an attachment
      operationId: deleteAttachmentConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json: {}
    patch:
      tags:
      - Attachments
      summary: Update an attachment
      operationId: updateAttachmentConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentConfig'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentConfig'
components:
  schemas:
    AttachmentConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        type:
          type: string
          enum:
          - document
          - link
        document:
          $ref: '#/components/schemas/Document'
        documentId:
          type: string
          format: uuid
        inEnvelope:
          type: boolean
        name:
          type: string
        linkUrl:
          type: string
        autoAdd:
          type: boolean
    DocumentVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        versionNumber:
          type: integer
          format: int32
        fileName:
          type: string
        url:
          type: string
        documentId:
          type: string
          format: uuid
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        fileName:
          type: string
        latestVersion:
          $ref: '#/components/schemas/DocumentVersion'
