openapi: 3.2.0
info:
  title: Cacheflow Checkout API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Checkout
paths:
  /api/latest/checkout/customer:
    post:
      tags:
      - Checkout
      summary: Create a checkout session
      operationId: createProposalFromCheckoutTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutProposalRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
  /api/latest/checkout/chat:
    post:
      tags:
      - Checkout
      summary: Create a checkout chat
      operationId: createProposalFromText
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutProposalRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
  /api/latest/checkout/branding:
    get:
      tags:
      - Checkout
      summary: Retrieve checkout branding
      operationId: getCheckoutBranding
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
  /api/latest/checkout/branding/{id}:
    get:
      tags:
      - Checkout
      summary: Retrieve checkout branding for specific proposal
      operationId: getCheckoutBrandingProposal
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInfo'
  /api/latest/checkout/template/{id}:
    get:
      tags:
      - Checkout
      summary: Retrieve a checkout template
      operationId: getCheckoutTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
  /api/latest/checkout/proposals/{id}/payment-methods:
    get:
      tags:
      - Checkout
      summary: List payment methods for a checkout session
      operationId: getCheckoutPaymentMethods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckoutPaymentMethod'
components:
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: integer
          format: int64
        scale:
          type: integer
          format: int32
        formattedAmount:
          type: string
        currency:
          type: string
      description: Total list amount for this level. null for usage.
    Address:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        type:
          type: string
        streetAddress:
          type: string
        subAddress:
          type: string
        otherAddress:
          type: string
        city:
          type: string
        region:
          type: string
        regionIso:
          type: string
        postalCode:
          type: string
        country:
          type: string
        countryIso:
          type: string
        verifiedAt:
          type: string
          format: date-time
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        fileName:
          type: string
        latestVersion:
          $ref: '#/components/schemas/DocumentVersion'
    ItemOverride:
      required:
      - discount
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        discount:
          type: boolean
        duration:
          type: integer
          format: int32
        startIndex:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemLevelOverride'
    OrganizationSummary:
      type: object
      properties:
        logoUrl:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        internalName:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        branding:
          type: object
          additionalProperties:
            type: object
    Proposal:
      required:
      - amount
      - amountFormatted
      - archived
      - attachments
      - baseAmount
      - baseAmountFormatted
      - billingPeriods
      - createdAt
      - currency
      - deleted
      - displayStatus
      - effectiveStartDate
      - id
      - legacyCheckout
      - name
      - overrideRanges
      - proposalContacts
      - proposalItems
      - proposalType
      - schedules
      - signed
      - status
      - syncable
      - termLengthMonths
      - termQty
      - termType
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        proposalItems:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        name:
          type: string
        customTerms:
          type: string
        externalLink:
          type: string
        deleted:
          type: boolean
        archived:
          type: boolean
        legacyCheckout:
          type: boolean
        owner:
          $ref: '#/components/schemas/User'
        displayStatus:
          type: string
          enum:
          - draft
          - active
          - approved
          - archived
          - expired
          - cancelled
          - deleted
          - completed
          - pending_approval
          - shared_payment_selection
          - shared_schedule_selection
          - shared_active
          - signed_awaiting_payment
        amount:
          type: integer
          format: int64
        proposalContacts:
          type: array
          items:
            $ref: '#/components/schemas/ProposalContact'
        signingDocument:
          $ref: '#/components/schemas/SigningDocument'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/ProposalAttachment'
        options:
          type: object
          additionalProperties:
            type: boolean
        schedules:
          type: array
          items:
            $ref: '#/components/schemas/PaymentSchedule'
        acceptedScheduleId:
          type: string
          format: uuid
        proposalType:
          type: string
          enum:
          - initial
          - change
          - renewal
          - template
        contract:
          $ref: '#/components/schemas/ObjectReference'
        effectiveStartDate:
          type: string
          format: date
        termType:
          type: string
          enum:
          - month
          - quarter
          - year
        termQty:
          type: integer
          format: int32
        termLengthMonths:
          type: integer
          format: int32
        freeMonths:
          type: integer
          format: int32
        proposalNumber:
          type: string
        customer:
          $ref: '#/components/schemas/Customer'
        billTo:
          $ref: '#/components/schemas/Customer'
        shipFrom:
          $ref: '#/components/schemas/OrganizationSummary'
        source:
          type: string
          deprecated: true
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        externalId:
          type: string
          deprecated: true
        lastEvent:
          $ref: '#/components/schemas/ProposalEvent'
        previous:
          $ref: '#/components/schemas/ObjectReference'
        expiresAt:
          type: string
          format: date
        endDate:
          type: string
          format: date
        startDate:
          type: string
          format: date
        previewCode:
          type: string
        paymentTerm:
          type: string
          enum:
          - net_15
          - net_30
          - net_45
          - net_60
          - net_75
          - net_90
          - upon_receipt
          - end_of_month
          - on_15th
        acceptedAt:
          type: string
          format: date-time
        defaultBillingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        billingPeriods:
          type: array
          items:
            type: string
            enum:
            - month
            - quarter
            - halfyear
            - year
        selectedScheduleId:
          type: string
          format: uuid
        changes:
          $ref: '#/components/schemas/ProposalChanges'
        description:
          type: string
        baseAmount:
          type: integer
          format: int64
        signed:
          type: boolean
        currency:
          type: string
        coverLetter:
          type: string
        sellerEmail:
          type: string
        syncable:
          type: boolean
        pendingRenewalAt:
          type: string
          format: date-time
        billingMethod:
          $ref: '#/components/schemas/BillingMethod'
        renewalConfiguration:
          $ref: '#/components/schemas/RenewalConfiguration'
        invoiceConfiguration:
          $ref: '#/components/schemas/InvoiceConfiguration'
        isSystemGenerated:
          type: boolean
        overrideRanges:
          type: array
          items:
            $ref: '#/components/schemas/OverrideRange'
        acceptedByContact:
          $ref: '#/components/schemas/Contact'
        acceptedByUser:
          $ref: '#/components/schemas/User'
        externalSource:
          $ref: '#/components/schemas/ExternalSource'
        purchaseOrderNumber:
          type: string
        type:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        baseAmountFormatted:
          type: string
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - approved
          - schedule_selection
          - payment_selection
          - active
          - pending_renewal
          - accepted
          - expired
          - cancelled
          - deleted
        amountFormatted:
          type: string
        orderNumber:
          type: string
          deprecated: true
    ApprovalRuleSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        ruleType:
          type: string
          enum:
          - proposalAmountDecrease
          - proposalAmount
          - proposalAttachments
          - proposalAutoRenewal
          - proposalBillingPeriods
          - proposalCountry
          - proposalCustom
          - proposalCustomTerms
          - proposalDiscountPercent
          - proposalDocusign
          - proposalDuplicateProducts
          - proposalExternalCrm
          - proposalFreeMonths
          - proposalItemQuantity
          - proposalPaymentTerms
          - proposalProductDiscountPercent
          - proposalProducts
          - proposalTermLength
        description:
          type: string
    LineItemLevel:
      type: object
      properties:
        quantity:
          type: number
        visible:
          type: boolean
        start:
          type: integer
          format: int32
        unitPricing:
          $ref: '#/components/schemas/Money'
        baseUnitPricing:
          $ref: '#/components/schemas/Money'
    Contact:
      required:
      - createdAt
      - customerReference
      - deleted
      - email
      - id
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
        deleted:
          type: boolean
        customerReference:
          $ref: '#/components/schemas/ObjectReference'
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
    RenewalConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        termLengthMonths:
          type: integer
          format: int32
        cancellationDeadlineDays:
          type: integer
          format: int32
        renewalClause:
          type: string
        priceIncrease:
          minimum: 0
          type: number
        renewalClauseDescription:
          type: string
    ProposalAttachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        type:
          type: string
          enum:
          - document
          - link
        attachmentConfigId:
          type: string
          format: uuid
        documentId:
          type: string
          format: uuid
        documentVersion:
          $ref: '#/components/schemas/DocumentVersion'
        inEnvelope:
          type: boolean
        name:
          type: string
        linkUrl:
          type: string
    PaymentComponent:
      required:
      - amount
      - baseAmount
      - currency
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        currency:
          type: string
        productId:
          type: string
          format: uuid
        bundleId:
          type: string
          format: uuid
        bundleItemId:
          type: string
          format: uuid
        itemId:
          type: string
          format: uuid
        itemKey:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        bundleName:
          type: string
        bundleDescription:
          type: string
        bundleQuantity:
          type: number
        amount:
          type: integer
          format: int64
        baseAmount:
          type: integer
          format: int64
        listAmount:
          type: integer
          format: int64
        taxAmount:
          type: integer
          format: int64
        proration:
          type: integer
          format: int32
        quantity:
          type: number
        taxAmountFormatted:
          type: string
        baseAmountFormatted:
          type: string
        amountFormatted:
          type: string
        listAmountFormatted:
          type: string
    _ContactInternal:
      required:
      - email
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
        deleted:
          type: boolean
        customerReference:
          $ref: '#/components/schemas/ObjectReference'
        gdprDeleted:
          type: boolean
    PricebookEntry:
      required:
      - price
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        level:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
    OverrideRange:
      required:
      - billingPeriod
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        startIndex:
          type: integer
          format: int32
        endIndex:
          type: integer
          format: int32
    Product:
      required:
      - billing
      - consumption
      - createdAt
      - customizable
      - discountable
      - displayQuantityOnInvoicePdf
      - entries
      - extendedScale
      - hidden
      - id
      - listPriceAdjustable
      - pricing
      - productType
      - recurrence
      - status
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        hidden:
          type: boolean
        rootId:
          type: string
          format: uuid
        productType:
          type: string
          enum:
          - single
          - bundleTopDown
          - bundleBottomUp
        status:
          type: string
          enum:
          - active
          - inactive
        name:
          type: string
        internalName:
          type: string
        description:
          type: string
        recurrence:
          type: string
          enum:
          - one_time
          - recurring
          - usage
        pricing:
          type: string
          enum:
          - fixed
          - graduated
          - stairstep
          - volume
        consumption:
          type: string
          enum:
          - single
          - multiple
        billing:
          type: string
          enum:
          - scheduled
          - fixed
        unit:
          $ref: '#/components/schemas/Unit'
        extendedScale:
          type: boolean
        customizable:
          type: boolean
        discountable:
          type: boolean
        displayQuantityOnInvoicePdf:
          type: boolean
        listPriceAdjustable:
          type: boolean
        descriptionCustomizable:
          type: boolean
        nameCustomizable:
          type: boolean
        billingPeriods:
          type: array
          items:
            type: string
            enum:
            - month
            - quarter
            - halfyear
            - year
        currencies:
          type: array
          items:
            type: string
        taxConfig:
          $ref: '#/components/schemas/ProductTaxConfig'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/PricebookEntry'
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ProductLevel'
        showProductsOnInvoice:
          type: boolean
        showProductPricesOnInvoice:
          type: boolean
        showProductsOnProposal:
          type: boolean
        bundleItems:
          type: array
          items:
            $ref: '#/components/schemas/BundleItem'
        bundleBottomUpEntries:
          type: array
          items:
            $ref: '#/components/schemas/BundlePriceEntry'
        bundleGroups:
          type: array
          items:
            type: string
    ObjectReference:
      type: object
      properties:
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        id:
          type: string
          format: uuid
        uri:
          type: string
        name:
          type: string
        type:
          type: string
          writeOnly: true
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
    RenewalConfigurationChange:
      type: object
      properties:
        changeType:
          type: string
          enum:
          - modify
          - remove
          - add
        configurationId:
          type: string
          format: uuid
        originalConfigurationId:
          type: string
          format: uuid
        renewalClauseChange:
          type: boolean
        renewalTermLengthMonthsChange:
          type: integer
          format: int32
        removedConfiguration:
          $ref: '#/components/schemas/RenewalConfiguration'
    InvoiceConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        invoiceInAdvance:
          type: boolean
        invoiceInAdvanceDays:
          type: integer
          format: int32
        invoiceInAdvanceDate:
          type: string
          enum:
          - advance_date
          - billing_period_start_date
    PaymentSchedule:
      required:
      - currency
      - payEvery
      - scheduleType
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        currency:
          type: string
        payEvery:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        scheduleType:
          type: string
          enum:
          - standard
          - upfront
        paymentMethodIds:
          type: array
          items:
            type: string
            format: uuid
        total:
          type: integer
          format: int64
        baseTotal:
          type: integer
          format: int64
        listTotal:
          type: integer
          format: int64
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        totalDiscount:
          type: integer
          format: int64
        totalDiscountPercent:
          type: integer
          format: int32
        totalFormatted:
          type: string
        baseTotalFormatted:
          type: string
        listTotalFormatted:
          type: string
        totalDiscountFormatted:
          type: string
    BundleItem:
      required:
      - entries
      - id
      - name
      - product
      type: object
      properties:
        id:
          type: string
          format: uuid
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: number
        bundlePercent:
          type: integer
          format: int32
        entries:
          type: array
          items:
            $ref: '#/components/schemas/BundlePriceEntry'
        name:
          type: string
        description:
          type: string
    Customer:
      required:
      - createdAt
      - deleted
      - id
      - name
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        name:
          type: string
        tin:
          type: string
        defaultCurrency:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingContact:
          $ref: '#/components/schemas/Contact'
        deleted:
          type: boolean
        taxUseCode:
          type: string
          enum:
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
          - I
          - J
          - K
          - L
          - M
          - N
          - P
          - Q
          - R
        partner:
          type: boolean
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        taxExempt:
          type: boolean
        syncable:
          type: boolean
    ItemSchedule:
      required:
      - productId
      - startDate
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        id:
          type: string
          format: uuid
        productId:
          type: string
          description: Product id for a specific version of the product. Must have the same root as the parent Item.
          format: uuid
        billingPeriod:
          type: string
          description: Billing period context.
          enum:
          - month
          - quarter
          - halfyear
          - year
        startIndex:
          type: integer
          description: Regular payment start index.
          format: int32
        endIndex:
          type: integer
          description: Inclusive regular payment end index.
          format: int32
        startDate:
          type: string
          description: Absolute start date. Absolute date when scheduled is true, otherwise calculated.
          format: date
        endDate:
          type: string
          description: Inclusive absolute end date. Absolute date when scheduled is true, otherwise null.
          format: date
        scheduled:
          type: boolean
          description: Indicates schedule has explicitly scheduled dates.
        price:
          $ref: '#/components/schemas/Money'
        basePrice:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        baseAmount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
        quantity:
          type: number
        discount:
          type: boolean
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemScheduleLevel'
    ProposalEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        eventType:
          type: string
          enum:
          - created
          - updated
          - archived
          - restore
          - activated
          - started
          - set_to_draft
          - contact_added
          - contact_removed
          - expired
          - cancelled
          - deleted
          - buyer_downloaded
          - buyer_printed
          - seller_downloaded
          - signing
          - viewed
          - unviewable_status
          - request_new
          - accepted
          - invited
          - created_signing_doc
          - cancelled_signing_doc
          - signed
          - buyer_updated
          - billing_method_added
          - renewal_pending
          - approval_requested
          - approval_approved
          - approval_rejected
          - approval_canceled
          - items_date_truncated
          - items_date_cleared
        user:
          $ref: '#/components/schemas/User'
        contact:
          $ref: '#/components/schemas/_ContactInternal'
        recipient:
          $ref: '#/components/schemas/_ContactInternal'
        details:
          $ref: '#/components/schemas/ProposalEventDetails'
        correlationRef:
          type: string
        instanceRef:
          type: string
    ExternalSource:
      required:
      - sourceId
      - sourceType
      type: object
      properties:
        sourceType:
          type: string
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        sourceId:
          type: string
        sourceLink:
          type: string
    CompanyInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        internalName:
          type: string
        brandingEnabled:
          type: boolean
        externalId:
          type: string
        source:
          type: string
        logoUrl:
          type: string
        tin:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        branding:
          type: object
          additionalProperties:
            type: object
        logo:
          $ref: '#/components/schemas/Document'
        defaultInfo:
          type: boolean
        deleted:
          type: boolean
        logoId:
          type: string
          format: uuid
    Payment:
      required:
      - amount
      - baseAmount
      - currency
      - dueDate
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        currency:
          type: string
        dueDate:
          type: string
          format: date
        scheduleDate:
          type: string
          format: date
        amount:
          type: integer
          format: int64
        baseAmount:
          type: integer
          format: int64
        listAmount:
          type: integer
          format: int64
        changeProposalId:
          type: string
          format: uuid
        components:
          type: array
          items:
            $ref: '#/components/schemas/PaymentComponent'
        baseAmountFormatted:
          type: string
        amountFormatted:
          type: string
        listAmountFormatted:
          type: string
    ProductTaxConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        taxMode:
          type: string
          enum:
          - inclusive
          - exclusive
        taxCode:
          $ref: '#/components/schemas/TaxCode'
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        username:
          type: string
        status:
          type: string
          enum:
          - pending
          - active
          - inactive
        source:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        lastActiveAt:
          type: string
          format: date-time
        manager:
          $ref: '#/components/schemas/User'
    CustomerRequest:
      type: object
      properties:
        externalId:
          type: string
        source:
          type: string
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        name:
          type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CreateContactRequest'
        tin:
          type: string
        taxUseCode:
          type: string
          enum:
          - A
          - B
          - C
          - D
          - E
          - F
          - G
          - H
          - I
          - J
          - K
          - L
          - M
          - N
          - P
          - Q
          - R
        defaultCurrency:
          type: string
        billingAddress:
          $ref: '#/components/schemas/Address'
        shippingAddress:
          $ref: '#/components/schemas/Address'
        billingContact:
          $ref: '#/components/schemas/CreateContactRequest'
        billingContactId:
          type: string
          format: uuid
        taxExempt:
          type: boolean
        partner:
          type: boolean
        externalSources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
    ProposalChanges:
      type: object
      properties:
        customTermsChange:
          type: boolean
        originalAmount:
          type: integer
          format: int64
        amountChange:
          type: integer
          format: int64
        itemChanges:
          type: array
          items:
            $ref: '#/components/schemas/ProposalItemChange'
        termLengthMonthsChange:
          type: integer
          format: int32
        renewalConfigurationChange:
          $ref: '#/components/schemas/RenewalConfigurationChange'
        originalAmountFormatted:
          type: string
        amountChangeFormatted:
          type: string
    Item:
      required:
      - createdAt
      - customized
      - customizedLevels
      - groups
      - id
      - key
      - product
      - schedules
      - spans
      - updatedAt
      - updatedBy
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        id:
          type: string
          format: uuid
        key:
          type: string
          format: uuid
        quantity:
          type: number
        product:
          $ref: '#/components/schemas/Product'
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        name:
          type: string
        description:
          type: string
        descriptionText:
          type: string
        customized:
          type: boolean
        customizedLevels:
          type: boolean
        levels:
          type: array
          items:
            $ref: '#/components/schemas/ItemLevel'
        overrides:
          type: array
          items:
            $ref: '#/components/schemas/ItemOverride'
        quantityOverrides:
          type: array
          items:
            $ref: '#/components/schemas/QuantityOverride'
        spans:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/LineItemSpan'
        schedules:
          type: array
          items:
            $ref: '#/components/schemas/ItemSchedule'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/SpanGroup'
        levelVisibility:
          type: string
          enum:
          - all
          - active
          - active_plus_one
          - active_plus_three
          - active_plus_prior_next
          - active_plus_prior_next_three
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        internalName:
          type: string
        description:
          type: string
        enabled:
          type: boolean
        configured:
          type: boolean
        managed:
          type: boolean
        billingPeriods:
          type: array
          items:
            type: string
            enum:
            - month
            - quarter
            - halfyear
            - year
        account:
          $ref: '#/components/schemas/Account'
        accountId:
          type: string
          format: uuid
        paymentType:
          type: string
          enum:
          - ach
          - cc
          - check
          - custom
          - direct_debit
          - wire
          - external
          - manual
        customText:
          type: string
        configuration:
          type: object
          additionalProperties:
            type: object
        processor:
          type: string
          enum:
          - plaid
          - stripe
          - manual
        activePaymentMethod:
          type: boolean
        referenceType:
          type: string
          enum:
          - account
          - apiwebhook
          - apitoken
          - approvalgroup
          - attachmentconfig
          - authidentity
          - billingschedule
          - companyInfo
          - connectorSyncEvent
          - contact
          - contentTemplate
          - contract
          - contractitem
          - contractitemlevel
          - currency
          - customer
          - docusignaccount
          - document
          - documentversion
          - group
          - invite
          - invoice
          - invoiceConfiguration
          - organization
          - orgconfig
          - orgidentitytoken
          - payment
          - paymentMethod
          - paymentSchedule
          - paymentTerm
          - pricebook
          - pricebookentry
          - product
          - productlevel
          - productusage
          - proposal
          - proposalapprovalrule
          - proposalevent
          - proposalitem
          - proposaliteminterval
          - proposalitemlevel
          - proposaloption
          - refund
          - renewalconfiguration
          - signature
          - signingdocument
          - transfer
          - transferevent
          - unit
          - user
        deleted:
          type: boolean
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        address:
          $ref: '#/components/schemas/Address'
        institutionName:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - depository
          - credit
          - manual
          - external
        subtype:
          type: string
        mask:
          type: string
        legalName:
          type: string
        currency:
          type: string
        ownerType:
          type: string
        routingNumber:
          type: string
        accountNumber:
          type: string
        wireNumber:
          type: string
        expMonth:
          type: integer
          format: int32
        expYear:
          type: integer
          format: int32
        cvv:
          type: integer
          format: int32
        bic:
          type: string
        iban:
          type: string
        sortCode:
          type: string
        institutionNumber:
          type: string
        transitNumber:
          type: string
        verificationLink:
          type: string
        mandateId:
          type: string
    DocumentVersion:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        versionNumber:
          type: integer
          format: int32
        fileName:
          type: string
        url:
          type: string
        documentId:
          type: string
          format: uuid
    BillingMethod:
      required:
      - createdAt
      - customer
      - id
      - paymentMethod
      - status
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        createdBy:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - external
        customer:
          $ref: '#/components/schemas/Customer'
        account:
          $ref: '#/components/schemas/Account'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        stripeCustomerId:
          type: string
        stripePaymentMethodId:
          type: string
    TaxCode:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        code:
          type: string
        description:
          type: string
    Duration:
      required:
      - days
      - months
      type: object
      properties:
        months:
          type: integer
          format: int32
        days:
          type: integer
          format: int32
    ProposalItemChange:
      type: object
      properties:
        changeType:
          type: string
          enum:
          - modify
          - remove
          - add
        productId:
          type: string
          format: uuid
        key:
          type: string
          format: uuid
        quantity:
          type: number
          deprecated: true
        originalQuantity:
          type: number
          deprecated: true
        quantityChange:
          type: number
          deprecated: true
        name:
          type: string
        upgraded:
          type: boolean
        priceOverrideChange:
          type: boolean
        quantitiesChange:
          type: boolean
        originalItem:
          $ref: '#/components/schemas/Item'
    ItemScheduleLevel:
      required:
      - basePrice
      - level
      - listPrice
      - price
      - start
      type: object
      properties:
        level:
          type: integer
          description: Level index, 0-based
          format: int32
        start:
          type: integer
          description: Level start value
          format: int32
        quantity:
          type: number
          description: Portion of ItemSchedule quantity assigned to this level. null for usage
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
        basePrice:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        baseAmount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
    ItemLevelOverride:
      required:
      - level
      - price
      type: object
      properties:
        level:
          type: integer
          format: int32
        price:
          $ref: '#/components/schemas/Money'
        listPrice:
          $ref: '#/components/schemas/Money'
    CheckoutProposalRequest:
      type: object
      properties:
        referenceId:
          type: string
          format: uuid
        contact:
          $ref: '#/components/schemas/CreateContactRequest'
        customer:
          $ref: '#/components/schemas/CustomerRequest'
        content:
          type: string
    QuantityOverride:
      required:
      - billingPeriod
      - quantity
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        quantity:
          type: number
        startIndex:
          type: integer
          format: int32
        duration:
          type: integer
          format: int32
    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        name:
          type: string
        plural:
          type: string
    ProposalContact:
      required:
      - createdAt
      - id
      - updatedAt
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          type: string
        acceptedAt:
          type: string
          format: date-time
        contact:
          $ref: '#/components/schemas/Contact'
    LineItemSpan:
      required:
      - amount
      - baseAmount
      - listAmount
      - proposalId
      - proratedTotalAmount
      - proratedTotalListAmount
      - spanType
      type: object
      properties:
        spanType:
          type: string
          enum:
          - regular
          - free
          - removed
        proposalId:
          type: string
          format: uuid
        itemScheduleId:
          type: string
          format: uuid
        startIndex:
          type: integer
          format: int32
          deprecated: true
        duration:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        quantity:
          type: number
        levels:
          type: array
          items:
            $ref: '#/components/schemas/LineItemLevel'
        durationDesc:
          $ref: '#/components/schemas/Duration'
        baseAmount:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
        listAmount:
          $ref: '#/components/schemas/Money'
        discount:
          $ref: '#/components/schemas/Money'
        discountPercent:
          type: integer
          format: int32
        prorating:
          type: number
        fullDays:
          type: integer
          format: int32
        proratedDays:
          type: integer
          format: int32
        proratedAmount:
          $ref: '#/components/schemas/Money'
        proratedBaseAmount:
          $ref: '#/components/schemas/Money'
        proratedListAmount:
          $ref: '#/components/schemas/Money'
        proratedTotalListAmount:
          $ref: '#/components/schemas/Money'
        proratedTotalAmount:
          $ref: '#/components/schemas/Money'
        unitPricing:
          $ref: '#/components/schemas/Money'
        baseUnitPricing:
          $ref: '#/components/schemas/Money'
        unitPricingDiscount:
          $ref: '#/components/schemas/Money'
        groupId:
          type: integer
          format: int32
    SpanGroup:
      required:
      - days
      - durationDesc
      - endDate
      - id
      - listTotal
      - proposalId
      - spanType
      - startDate
      - total
      type: object
      properties:
        id:
          type: integer
          format: int32
        spanType:
          type: string
          enum:
          - regular
          - free
          - removed
        proposalId:
          type: string
          format: uuid
        itemScheduleId:
          type: string
          format: uuid
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        quantity:
          type: number
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        days:
          type: integer
          format: int32
        durationDesc:
          $ref: '#/components/schemas/Duration'
        total:
          $ref: '#/components/schemas/Money'
        listTotal:
          $ref: '#/components/schemas/Money'
        unitPricing:
          $ref: '#/components/schemas/Money'
        amount:
          $ref: '#/components/schemas/Money'
    ItemLevel:
      required:
      - index
      - start
      - visible
      type: object
      properties:
        index:
          type: integer
          format: int32
        start:
          type: integer
          format: int32
        hidden:
          type: boolean
        visibilityOverride:
          type: boolean
        visible:
          type: object
          additionalProperties:
            type: boolean
    BundlePriceEntry:
      required:
      - price
      type: object
      properties:
        billingPeriod:
          type: string
          enum:
          - month
          - quarter
          - halfyear
          - year
        price:
          $ref: '#/components/schemas/Money'
    ProductLevel:
      required:
      - start
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        start:
          type: integer
          format: int32
    SigningDocument:
      required:
      - externalId
      - provider
      - signer
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        provider:
          type: string
          enum:
          - docusign
        externalId:
          type: string
        signedAt:
          type: string
          format: date-time
        polledAt:
          type: string
          format: date-time
        signer:
          $ref: '#/components/schemas/_ContactInternal'
    ProposalEventDetails:
      type: object
      properties:
        status:
          type: string
          enum:
          - draft
          - pending_approval
          - approved
          - schedule_selection
          - payment_selection
          - active
          - pending_renewal
          - accepted
          - expired
          - cancelled
          - deleted
        message:
          type: string
        rules:
          type: array
          items:
            $ref: '#/components/schemas/ApprovalRuleSummary'
    CheckoutPaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        paymentType:
          type: string
          enum:
          - ach
          - cc
          - check
          - custom
          - direct_debit
          - wire
          - external
          - manual
        customText:
          type: string
        configuration:
          type: object
          additionalProperties:
            type: object
    CreateContactRequest:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        externalId:
          type: string
        source:
          type: string
          enum:
          - manual
          - close
          - plaid
          - stripe
          - hubspot
          - salesforce
          - avalara
          - quickbooks
          - profitwell
          - netsuite
          - google
          - warmly
          - zapier
          - cacheflow_checkout
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        role:
          type: string
        externalSources:
          type: array
          items:
            $ref: '#/components/schemas/ExternalSource'
