openapi: 3.2.0
info:
  title: Cacheflow Countries API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Countries
paths:
  /api/latest/settings/countries:
    get:
      tags:
      - Countries
      summary: List all countries
      operationId: getAllCountries
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationRest'
  /api/latest/settings/countries/{id}/regions:
    get:
      tags:
      - Countries
      summary: List all regions with Country iso2 code
      operationId: getAllRegionsOfCountry
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationRest'
components:
  schemas:
    LocationRest:
      type: object
      properties:
        iso:
          type: string
        name:
          type: string
        customName:
          type: string
