openapi: 3.2.0
info:
  title: Cacheflow Invoice Configurations API
  version: 0.0.3
servers:
- url: https://api.getcacheflow.com
  description: 'Production. Calls are tenant-routed: send Host: <org-flow-domain>.api.getcacheflow.com (per github.com/getcacheflow/api-examples SETUP.md). Host no longer resolves as of 2026-08-13.'
- url: https://api.sandbox.getcacheflow.com
  description: Sandbox. Tenant-routed as <org-flow-domain>.api.sandbox.getcacheflow.com. Host no longer resolves as of 2026-08-13.
tags:
- name: Invoice Configurations
paths:
  /api/latest/invoice-configs/{id}:
    get:
      tags:
      - Invoice Configurations
      summary: Retrieve an invoice configuration
      operationId: getInvoiceConfiguration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Invoice Configurations
      summary: Update an invoice configuration
      operationId: patchInvoiceConfiguration
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfiguration'
components:
  schemas:
    InvoiceConfigurationRequest:
      type: object
      properties:
        invoiceInAdvance:
          type: boolean
        invoiceInAdvanceDays:
          type: integer
          format: int32
        invoiceInAdvanceDate:
          type: string
          enum:
          - advance_date
          - billing_period_start_date
    InvoiceConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          type: string
        updatedAt:
          type: string
          format: date-time
          readOnly: true
        updatedBy:
          type: string
          readOnly: true
        invoiceInAdvance:
          type: boolean
        invoiceInAdvanceDays:
          type: integer
          format: int32
        invoiceInAdvanceDate:
          type: string
          enum:
          - advance_date
          - billing_period_start_date
